[user]
    name = Nabarun Pal
    email = pal.nabarun95@gmail.com
    signingkey = 0xD7FE02808704BEDD0F1F504645A20127D7D8C64D

[commit]
    gpgsign = true

[core]
    editor = nvim
    pager = delta --syntax-theme dracula

[format]
    signoff = true

[alias]
    d = diff
    dc = diff --cached
    c = commit -s
    s = status
    r = restore
    rs = restore --staged
    ck = checkout
    ckb = checkout -b

[http]
	cookiefile = /home/nabarun/.gitcookies

[init]
	defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    side-by-side = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[includeIf "gitdir:~/c/vmware/"]
path = .gitconfig-work
