[user]
    name = Nabarun Pal
    email = pal.nabarun95@gmail.com
    signingkey = 5766AE4828845256325BDA6E611D5079D826B150

[commit]
    gpgsign = true

[core]
    editor = nvim
    pager = delta --syntax-theme dracula

[format]
    signoff = true

[alias]
    d = diff
    dc = diff --cached
    c = commit -s
    s = status
    r = restore
    rs = restore --staged
    ck = checkout
    ckb = checkout -b

[http]
	cookiefile = /home/nabarun/.gitcookies

[init]
	defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    side-by-side = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
